/* google fonts start*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Pirata+One&family=Staatliches&family=Yellowtail&display=swap');
/*google font end*/
*{
 
 body{
    font-family:'Staatliches';
}
h1{
    font-family: 'Audiowide';    
}
p{
    font-family:'Audiowide';
}
.section-one{
    width:950px;
    height:950px;
    background-color: #faccfa;  
}
.more-info {
    font-family: 'Staatliches';
}
.content-part {}
.image-part {}
.image-part img {}
#lovlu {}
#slogan {}
