@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Pirata+One&family=Staatliches&family=Yellowtail&display=swap');

p{
  font-family: 'Staatliches';
  color: black;
}
a,button{
 font-family: 'Staatliches';
 color: black;
}
body, h1, h2, h3, h4, h5, h6, img, ul, li ,ol, div, p, span, button{
      margin:0px;
      padding:0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Audiowide';
  font-size: 52px;
}
p{
  text-align: justify;
}
span{
  font-size: 40px;
  margin: 5px;
  color:white;
  background-color: #595FE1;
  border-bottom-right-radius: 10px;
}
button {
  padding: 2px;
  width: 150px;
  height: auto;
  font-size: 22px;
  color:white;
  background-image: linear-gradient(90deg, black, #595FE1);
  border-radius: 5px;
}
button:hover{
  color:black;
}
div h6 {
}
.container{
  width:1500px;
  height: auto;
  margin :0 auto 30px auto;
}
.logo{
          padding:5px;
          width:250px;
          height:40px;
        }
.top-bar{
  width: 100%;
  height: 50px;
}
.header-left {
  width:30%;
  height: 50px;
  float: left;
}
  .header-right{
    width: 70%;
    height: 50px;
    float: right;
  }
  ul {
    text-align: right;
    height: 30px;
    padding:10px;
    padding-right: 50px;
  }
  ul li {
    display: inline;
    padding-right: 30px;
  }
  a{
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
    font-size: 22px;
    text-decoration:none;
    color:black;

  }
  a:hover{
    background-color:black;
    color:orange;
    font-size: 22px;
    border-radius: 5px;
  }
  section{
    width:100%;
    height:650px;
  }
.section-right{
  width:750px;
  height:100%;
  position: relative;
  float:left;
}
.section-left{
  width:750px;
  height:100%;
  float: left;
}
.background-image{
  background-image: url("images/background.png");
  width:720px;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
.background-image-2{
  background-image: url("images/second-background.png");
  width:720px;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
.section-third-heading h4{
      font-family: 'Audiowide';
      font-size: 30px;
      text-align: center;
      padding-top: 100px;
    }
.first-content {
  padding:10px;
  background-color: white;
  border-radius:10px;
  width:300px;
  height:250px;
  margin-top: 150px;
  margin-left: 100px;
  float: left;
  box-shadow: 0.5px 0px 20px #595FE1;
}
.third-section-image{
  border-radius:15px;
  width:100%;
  height:140px;
}
.first-content h6{
  width:100%;
  background-color: white;
  font-size: 20px;
  font-family: 'Staatliches';
  margin-top: 5px;
}
.first-content p{
  font-size: 14px;
  margin-top: 10px;
}
.forth-section{
  width:650px;
  height: 160px;
  background-image: url("images/subscribe.png");
  background-repeat: no-repeat;
  background-size:cover;
  margin-left: 400px;
  margin-top: 200px;
  border-radius: 20px;
}
.forth-section h6 {
  color: white;
  font-family:fantasy;
  width: 60%;
  height: 120px;
  text-align: center;
  float:left;
  padding-top: 40px;
}
.forth-section a{
  background-color: #faccaf;
  border-radius: 5px;
}
.fs-second-part{
  color: white;
  font-family:fantasy;
  width: 40%;
  height: 100px;
  text-align: center;
  float:left;
  padding-top: 60px;
}
.fs-third-part{
  text-align: center;
  float: left;
  margin-top: 150px;
  margin-left: 100px;
}
.social{
  width: 100%;
  background-color: red;
  margin-top: 40px;
  margin-left: 30px;
}
.social-image{
  float: left;
  width: 30%;
  padding-left: 12px;
}
#profile{
  padding:80px;
  margin-left:90px;
  border-radius: 30%;
}
#first-section-heading h1{
  padding: 30px;
  margin-top: 90px;
}
#first-section-heading p{
  width: 80%;
  padding: 20px;
  text-align: justify;
  font-size:22px;
}
#second-section-heading h2{
  padding-left: 280px;
  margin-top: 150px;
  color:Tomato;
}
#second-section-heading p{
      position: relative;
      width: 80%;
      margin-left: 100px;
      text-align:justify;
      font-size:22px;
      margin-top: 30px;
    }
#first-section-button{
  margin-left: 150px;
}
#second-section-button{
  margin-left: 290px;
  margin-top: 50px;
  background-image: linear-gradient(90deg, orange, tomato);
}
#third-heading{
  background-color: #F8F9FC;
  color:#595FE1;
  font-size: 30px;
}
#third{
  background-color: #F8F9FC;
}
#fs-third-heading{
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}
#email{
  color:black;
  background-color: tomato;
}
